table,
th,
td {
    border: 1px;
    border-style: dotted;
    border-color: black;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
}

th {
    background-color: aqua;
}

tr:nth-child(even) {
    background-color: rgba(114, 100, 237, 45%);
}

td:nth-child(even) {
    background-color: rgba(50, 184, 77, 45%);
}

tr:hover {
    background-color: crimson;
}